<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>TinyApp Registration</title>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    

  <body style='font-size: 20px; padding: 50px;'>
    <h3>Create an account</h3>
    <form method="POST" action='/register'>
      <div class="form-group mb-2">
        <label for="email">Email ID:</label>
        <input class="form-control" type="email" name="email" placeholder="Enter Email" style="width: 250px">
      </div>
      <div class="form-group mb-2">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" style="width: 250px">
      </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
  </body>
</html>