<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
  </head>

  <body>
  
    

  <body style='font-size: 20px; padding: 50px;'>
    <p><h1>Register</h1></p>
    <form method="POST" action='/register'>
      <table>		
        <tr>			
            <td>				
                Email:			
            </td>			
             <td>				
                <input type='email' name="email" placeholder="Enter email"/>			
             </td>		
        </tr>
         <tr>
              <td>				
                Password:			
              </td>			
              <td>				
               <input type='password' name="password" placeholder="Enter password"/>		
              </td>		
        </tr>	
  </table>


      <button type="submit" class='btn btn-primary' display='block'>Register</button>

    
    </form>

  </body>
</html>